---
- name: Deploy Labdash on Raspberry Pi
  hosts: labdash_devices
  become: yes



  vars:
    user: pi
    home_dir: "/home/pi"
    module_dir: "{{ home_dir }}/installdir"
    labdash_dir: "{{ module_dir }}/labdash"
    captive_portal_dir: "{{ module_dir }}/raspi-captive-portal"
    ansible_python_interpreter: /usr/bin/python3


  tasks:

    #disable while testing & debugging
    - name: Update & upgrade packages
      apt:
        update_cache: yes
        upgrade: dist
        cache_valid_time: 3600


    - name: Install required packages
      apt:
        name:
          - git
          - python3-venv
          - python3-pip
          - python3-virtualenv
          - libxml2-dev
          - libxslt1-dev
          - python3-flask-sockets
          - python3-setuptools
          - can-utils



        state: present

    # in case of re-deployment, remove existing dir
    - name: Remove existing dir if exists
      ansible.builtin.file:
        state: absent
        path: "{{ module_dir }}"


    - name: ensures {{ module_dir }} dir exists
      file: 
        path: "{{ module_dir }}"
        state: directory
      become: yes
      become_user: '{{ user }}'


    - name: Clone Labdash repositories
      git:
        repo: "{{ item.repo }}"
        dest: "{{ module_dir }}/{{ item.name }}"
      
      become: yes
      become_user: '{{ user }}'
      loop:
        - { name: labdash, repo: "https://github.com/stko/labdash.git" }
        - { name: raspi-captive-portal, repo: "https://github.com/stko/raspi-captive-portal.git" }

        


    # - name: Install Python dependencies
    #   ansible.builtin.pip:
    #     requirements: "{{ labdash_dir }}/requirements_raw.txt"
    #     virtualenv: "{{ labdash_dir }}/.venv"
    #     virtualenv_python: python3
    #     virtualenv_site_packages: yes
    #     extra_args: --no-cache-dir
    #   become: yes
    #   become_user: '{{ user }}'
    #   register: pip_result

    # - name: Install editable dependencies
    #   ansible.builtin.pip:
    #     name: "{{ item }}"
    #     virtualenv: "{{ labdash_dir }}/.venv"
    #     virtualenv_python: python3
    #     virtualenv_site_packages: yes
    #     editable: yes
    #   loop:
    #     - "{{ module_dir }}/cnclib"
    #     - "{{ module_dir }}/tcpc"
    #     - "{{ module_dir }}/MTDS_modify"
    #     - "{{ module_dir }}/mtqr/python"
    #     - "{{ module_dir }}/labdash"



    - name: Install Lapdash as module
      ansible.builtin.pip:
        name: "{{ labdash_dir }}"
        virtualenv: "{{ labdash_dir }}/.venv"
        virtualenv_python: python3
        virtualenv_site_packages: yes
        editable: yes

    - name: Enable SSH
      ansible.builtin.shell: "raspi-config nonint do_ssh 0"
 
    - name: Install the captive portal files
      copy: 
        src: "{{ item.src }}" 
        dest: "{{ item.dest }}"
      loop:
        - src: files/hostapd.conf
          dest: "{{ captive_portal_dir }}/access-point"
        - src: files/server.ts
          dest: "{{ captive_portal_dir }}/server/src"


 # as ansible cannot directly loop over the files in a directory, we need to first get the list of files and then loop over it in the next step. The "ls --format=comma -d ..." command lists the .epd files in the internals directory and formats them as a comma-separated list, which is then registered in the internal_jobs variable.




    - name: Copy internal jobs
      when: internal_jobs is defined
      copy:
        src: "{{ item }}"
        dest: "{{ labdash_dir }}/web/examples/"
      with_items: "{{ internal_jobs.split(',') }}"

    - name: Copy internal themes
      when: internal_themes is defined
      copy:
        src: "{{ item }}"
        dest: "{{ labdash_dir }}/web/theme/"
      with_items: "{{ internal_themes.split(',') }}"




    - name: Setup the captive portal
    # the trick with "echo | ..." forces the setup.py into a non-interactive mode without any confirmation questions to run quiet inside the ansible script
      ansible.builtin.shell: "echo | python setup.py"
      args:
        chdir: "{{ captive_portal_dir }}"


    - name: Configure Labdash systemd service
      copy:
        dest: /etc/systemd/system/labdash.service
        content: |
          [Unit]
          Description=Labdash Description
          After=network.target

          [Service]
          ExecStart={{ labdash_dir }}/.venv/bin/python -m labdash.labdash
          WorkingDirectory={{ labdash_dir }}
          Restart=always
          User={{ user }}

          [Install]
          WantedBy=multi-user.target



    - name: Enable Labdash service
      systemd:
        name: labdash.service
        enabled: yes
        state: started


